.logo{
    max-height: 108px;
    max-width: 216px;
}
#titrePrincipal{
    color:#004871;
}
#menuHaut{
    background-color: #E89F0C;
}
#menuHaut .menu{
    background-color: #E89F0C;
}
#menuHaut .menu a{
    color: white;
}
#menuHaut .menu a:hover {
    font-weight: bold;
}
#menuHautContenu{
    background-color: #E89F0C;
}
.footer{
    position:fixed;
    height:65px;
    background-color: #81b92f;
    width: 100%;
    bottom: 0;
}
body{
    margin-bottom: 50px;
    background-color: #eee;
}
.content{
    margin-top: 25px;
    margin-left: 8%;
    margin-right: 8%;
    background-color: white;
}