 <form action="" method="post">
              <p>
                <input type="text" name="prenom" placeholder="Prenom" class="" /><br /><br />
                <input type="text" name="nom" placeholder="Nom" class=""/><br /><br />
                <input type="email" name="email" placeholder="Email" class="" /><br /><br />
                <input type="radio" name="genre" value="femme" id="femme" /><label for="femme">Femme</label>
                <input type="radio" name="genre" value="homme" id="homme" /><label for="homme">Homme</label><br /><br />
                <input type="radio" name="statut" value="candidat" id="candidat" /><label for="candidat">Candidat</label>
                <input type="radio" name="statut" value="responsable" id="responsable" /><label for="responsable">Responsable</label><br /><br />
                <input type="submit" value="Inscription" class="" />
              </p>
            </form>