<form method ="Post" action=#>
	<p>
	<label for="nomSociete">Nom de la société : </label>
	<input type="text" name="nomSociete" id="nomSociete"/>
	</p>
	<p>
	<label for="descriptionPoste" >Description du poste: </label>
	</p>
	<p>
	<textarea cols="30" rows="8" id="descriptionPoste" name="descriptionPoste"></textarea>
	</p>
	<p>
	<label for="instructionCandidat" >Instruction pour candidater: </label>
	</p>
	<p>
	<textarea cols="30" rows="8" id="instructionCandidat" name="instructionCandidat"></textarea>
	</p>
	<p>
	<label for="fichier">Joindre un fichier </label>
	</p>
	<p>
	<input type="file" name="fichier" id="fichier" value="0"/>
	</p>
	<input type="submit" value="Valider" />
</form>