<div style="padding: 10px">
<form action="../controler/modifierDonnees.php" method="post">
    <input type="text" name="prenom" placeholder="Prenom" class="" /><br />
    <input type="text" name="nom" placeholder="Nom" class=""/><br />
    <input type="email" name="email" placeholder="Nouvelle email" class="" /><br />
    <input type="text" name="tel" placeholder="Telephone" class=""/><br />
    <input type="text" name="loginInscription" placeholder="Login" class="" /><br /><br />
    <input class="button" type="submit" value="Enregistrer modifications" class="" /><br /><br /><br />
</form>
<form action="../controler/modifierDonnees.php" method="post">
    <input type="password" name="mdpModif" placeholder="Nouveau mot de passe" class=""/><br />
    <input type="password" name="mdpModifConfirmation" placeholder="Confirmer nouveau mot de passe" class="" /><br /><br />
    <input  class="button" type="submit" value="Enregistrer modification" class="" /><br /><br />
</form>
</div>