<link rel="stylesheet" type="text/css" href="../style.css" />
<div class="menu" id="menuetd">
   <h2>Mon profil</h2>
    <ul class="niveau1">
	  <li>
        Mes documents
		<ul class="niveau2">
			<li><a href="rensEtu.php">Consulter mes documents</a></li>			
			<li><a href="fiche_localisation_stage.php">Déposer un document</a></li>
        </ul>
      </li>
      <li>Editer mon profil
		<ul class="niveau2">
          <li><a href="disponibilites.php">Modifier infos personnelles</a></li>
          <li><a href="disponibilites.php">Modifier mot de passe</a></li>         		  
        </ul>
      </li>
	  <li><a href="deconnexion.php"> Déconnexion </a></li>
    </ul> 
</div>